examples/Basic example.json
[
    {
        "id": "23821ba373a601ab",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c18736cd0888ec6",
        "type": "display property",
        "z": "23821ba373a601ab",
        "name": "msg.data.attributes.brightness",
        "property": "msg.data.attributes.brightness",
        "showDate": true,
        "showTime": true,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "22540bb1a20bde39"
            ]
        ]
    },
    {
        "id": "9a2098e26d45c777",
        "type": "inject",
        "z": "23821ba373a601ab",
        "name": "JSON data",
        "props": [
            {
                "p": "data",
                "v": "{\"id\":\"light-12345\",\"type\":\"light\",\"timestamp\":1748648445,\"attributes\":{\"name\":\"Living room light\",\"brightness\":75}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "3c18736cd0888ec6"
            ]
        ]
    },
    {
        "id": "22540bb1a20bde39",
        "type": "debug",
        "z": "23821ba373a601ab",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "e2d000797e13eca5",
        "type": "display property",
        "z": "23821ba373a601ab",
        "name": "msg.data.non.existing.propery",
        "property": "msg.data.non.existing.propery",
        "showDate": true,
        "showTime": false,
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "23d5de9f3f853628",
        "type": "inject",
        "z": "23821ba373a601ab",
        "name": "JSON data",
        "props": [
            {
                "p": "data",
                "v": "{\"id\":\"light-12345\",\"type\":\"light\",\"timestamp\":1748648445,\"attributes\":{\"name\":\"Living room light\",\"brightness\":75}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "e2d000797e13eca5"
            ]
        ]
    }
]
